body{
    /*background-image: url(../images/img/bg/autorisation_bg.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
fieldset, legend{
    display: grid;
    border-radius: 5vw;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 1vh 1vw;
}