/*Footer*/
.footer{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh;
    margin: 1vh 1vw;
    border-radius: 5vw;
}
.footer_logo{
    justify-items: center;
}
.footer_logo_img{
    height: calc((3vw + 3vh)/2);
    width: calc((3vw + 3vh)/2);
}
.footer_logo_name{
    font-size: calc((3vw + 3vh)/2);
    font-weight: 100;
    line-height: 25vh;
}
.contacts{
    display: grid;
}
.contacts_name{
    font-size: calc((2.5vw + 2.5vh)/2);
    font-weight: 50;
    margin-bottom: 1vh;
}
.phone, .mail, .vk, .telegram, .instagram{
    font-size: calc((2vw + 2vh)/2);
    font-weight: 30;
    color: black;
}
.vk_logo, .telegram_logo, .instagram_logo{
    height: calc((2vw + 2vh)/2);
    width: calc((2vw + 2vh)/2);
    margin-right: 1vw;
}
.href{
    text-decoration: none;
}
.footer_logo_name, .contacts_name, .phone, .mail, .vk, .telegram, .instagram{
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
    .footer {
        grid-template-columns: 1fr;
    }
}