/*Header*/
.header_logo, .mendeleev_logo, .time_logo, .cycle_logo, .get_post_logo, .autorisation_logo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc((10vw + 10vh)/2);
    width: calc((10vw + 10vh)/2);
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
    background-color: white;
    border-radius: 5vw;
    align-items: center;
    flex-wrap: wrap;
}
.header_logo{
    margin: 1vh 1vw 1vh 5vw;
    background-image: url(../images/logo/cycler_logo.svg);
}
.mendeleev_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/mendeleev_logo.svg);
}
.cycle_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/cycle_logo.svg);
}
.get_post_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/get_post_logo.svg);
}
.autorisation_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/autorisation_logo.svg);
}
.time_logo{
    margin: 1vh 5vw 1vh 1vw;
}

/*
@media screen and (min-width: 0px) and (max-width: 479px) {
    .header_logo, .mendeleev_logo, .time_logo, .cycle_logo {
        height: calc((20vw + 20vh) / 2);
        width: calc((20vw + 20vh) / 2);
    }

    .header_logo, .time_logo {
        margin: 1vh 1vw;
    }
}*/
