/*Таблица Менделеева*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body_mendeleev{
    background-image: url(../images/img/bg/mendeleev_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: calc(100vh/8) auto ;
}
td{
    animation-duration: 5s;
    animation-name: animation;
    width: 260px;
    height: 140px;
}
.pink{
    background: pink;
}
.yellow{
    background: yellow;
}
.blue{
    background: deepskyblue;
}
.symbol-element, .element-symbol, .number-mass-element, .element-number-mass, .name-element, .element-name{
    float: left;
    color: black;
}
.symbol-element, .number-element, .name-element, .element-symbol, .element-number, .element-name{
    font-weight: bold;
}
.symbol-element, .element-number-mass, .name-element{
    text-align: left;
}
.element-symbol, .number-mass-element ,.element-name{
    text-align: right;
}
.symbol-element, .element-symbol{
    width: 100px;
    height: 90px;
    font-size: 100px;
    line-height:80px;
}
.number-mass-element, .element-number-mass{
    height: 90px;
    width: 160px;
}
.name-element, .element-name{
    width: 260px;
    height: 40px;
}
.number-mass-element, .element-number-mass, .name-element, .element-name{
    font-size: 40px;
    line-height: 40px;
}
@keyframes animation {
    from {
        background: black;
    }
    to {
        background: white;
    }
}