*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    filter: invert(100%);
    background-image: url(../images/img/bg/main_bg-night.jpg);
    background-attachment: fixed;
}
/*Header*/
.body, .header_logo, .mendeleev_logo, .time_logo, .cycle_logo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header_logo, .mendeleev_logo, .time_logo, .cycle_logo{
    height: calc((10vw + 10vh)/2);
    width: calc((10vw + 10vh)/2);
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1vh 1vw;
    background-color: white;
    border-radius: 5vw;
    align-items: center;
    flex-wrap: wrap;
}
.header_logo{
    margin: 1vh 1vw 1vh 5vw;
    background-image: url(../images/logo/cycler_logo.svg);
}
.mendeleev_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/mendeleev_logo.svg);
}
.cycle_logo {
    margin: 1vh 1vw;
    background-image: url(../images/logo/cycle_logo.svg);
}
.time_logo{
    filter: invert(100%);
    margin: 1vh 5vw 1vh 1vw;
    background-image: url(../images/logo/moon_logo.svg);
}

/*Моё фото и текст*/
.photo-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh 50vh;
}
.photo{
    filter: invert(100%);
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../images/img/photo/my_photo.jpg);
}
.photo, .photo1-image, .photo2-image, .photo3-image, .photo4-image, .photo5-image, .photo6-image, .photo7-image, .photo8-image{
    filter: invert(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.name{
    background: white;
    grid-column-start: 2;
    grid-column-end: 4;
    color: black;
    font-family: "Calibri";
    font-size: calc((6vw + 6vh)/2);
    text-align: center;
    font-weight: 600;
    line-height: 15vh;
    border-radius: 50vw;
}
.about-me, .about-course{
    background: white;
    color: black;
    font-family: "Calibri";
    padding: 3vh 3vw;
    border-radius: 5vw;
}
.topic{
    font-size: calc((3vw + 3vh)/2);
    font-weight: 100;
    text-align: center;
    line-height: 3vh;
    margin-bottom: 1vh;
}
.just-text{
    font-size: calc((2vw + 2vh)/2);
    font-weight: 50;
    text-align: match-parent;
    line-height: calc((2vw + 2vh)/2);
    text-indent: calc((2vw + 2vh)/2);
}
.photo-text, .name, .about-me, .about-course{
    margin: 1vh 1vw;
}

/*Картинки в flexbox*/
.flex-block{
    background-color: white;
    color: black;
    justify-content: space-evenly;
    border-radius: 5vw;
    margin: 1vh 1vw;
}
.flex-block, .photo1, .photo2, .photo3, .photo4{
    display: flex;
}
.photo1, .photo2, .photo3, .photo4{
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: calc((22vw + 22vh)/2);
}
.photo1-image, .photo2-image, .photo3-image, .photo4-image,.photo5-image, .photo6-image, .photo7-image, .photo8-image{
    margin: 1vh 0;
    flex-basis: calc((20vw + 20vh)/2);
}
.photo1-text, .photo2-text, .photo3-text, .photo4-text,.photo5-text, .photo6-text, .photo7-text, .photo8-text{
    flex-basis: calc((5vw + 5vh)/2);
    font-family: Calibri;
    text-align: center;
    font-size: calc((3vw + 3vh)/2);
    line-height: calc((3vw + 3vh)/2);
}
.photo1-image{
    background-image: url(../images/img/block-photo/road.JPG);
}
.photo2-image{
    background-image: url(../images/img/block-photo/sunset.jpg);
}
.photo3-image{
    background-image: url(../images/img/block-photo/feather-grass.jpg);
}
.photo4-image{
    background-image: url(../images/img/block-photo/river.JPG);
}

/*Картинки в grid*/
.grid-block{
    border-radius: 5vw;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc((25vw + 25vh)/2) calc((25vw + 25vh)/2);
    margin: 1vh 1vw;
}
.photo5, .photo6, .photo7, .photo8{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc((20vw + 20vh)/2) calc((5vw + 5vh)/2);
}
.photo5-image{
    background-image: url(../images/img/block-photo/spruce.JPG);
}
.photo6-image{
    background-image: url(../images/img/block-photo/rowan.JPG);
}
.photo7-image{
    background-image: url(../images/img/block-photo/waxwing.JPG);
}
.photo8-image{
    background-image: url(../images/img/block-photo/larch.jpg);
}

/*result*/
.results{
    display: grid;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh;
    margin: 1vh 1vw;
    border-radius: 5vw;
}
.vowels, .word{
    justify-items: center;
    font-size: calc((2vw + 2vh)/2);
    font-weight: 100;
    line-height: 10vh;
    text-align: center;
}

/*Footer*/
.footer{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh;
    margin: 1vh 1vw;
    border-radius: 5vw;
}
.footer_logo{
    justify-items: center;
}
.footer_logo_img{
    height: calc((3vw + 3vh)/2);
    width: calc((3vw + 3vh)/2);
}
.footer_logo_name{
    font-size: calc((3vw + 3vh)/2);
    font-weight: 100;
    line-height: 25vh;
}
.contacts{
    display: grid;
}
.contacts_name{
    font-size: calc((2.5vw + 2.5vh)/2);
    font-weight: 50;
    margin-bottom: 1vh;
}
.phone, .mail, .vk, .telegram, .instagram{
    font-size: calc((2vw + 2vh)/2);
    font-weight: 30;
    color: black;
}
.vk_logo, .telegram_logo, .instagram_logo{
    filter: invert(100%);
    height: calc((2vw + 2vh)/2);
    width: calc((2vw + 2vh)/2);
    margin-right: 1vw;
}
.href{
    text-decoration: none;
}
.footer_logo_name, .contacts_name, .phone, .mail, .vk, .telegram, .instagram{
    text-align: center;
}

/*Анимация - увеличение картинок*/
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover, .photo5:hover, .photo6:hover, .photo7:hover, .photo8:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* стиль для планшета */
@media screen and (min-width: 480px) and (max-width: 820px) {
    .photo-text{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 15vh 30vh;
    }
    .photo{
        margin: 1vh 1vw;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .name{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .flex-block{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .photo1, .photo2, .photo3, .photo4{
        flex-basis: 40vw;
    }
}

/* стиль для телефона */
@media screen and (min-width: 0px) and (max-width: 479px) {
    .header_logo, .mendeleev_logo, .time_logo, .cycle_logo{
        height: calc((20vw + 20vh)/2);
        width: calc((20vw + 20vh)/2);
    }
    .header_logo, .time_logo{
        margin: 1vh 1vw;
    }
    .photo-text{
        grid-template-rows: 50vh 15vh 20vh 20vh;
    }
    .photo{
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .name{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .flex-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .photo1, .photo2, .photo3, .photo4{
        flex-basis: 98vw;
    }
    .photo-text, .grid-block, .photo5, .photo6, .photo7, .photo8{
        grid-template-columns: 1fr;
    }
    .results, .footer{
        grid-template-columns: 1fr;
    }
}