*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-image: url(../images/img/bg/main_bg.JPG);
    background-attachment: fixed;
}
.body, .header_logo, .mendeleev_logo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header_logo,.mendeleev_logo{
    height: 15vh;
    width: 15vh;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header_logo{
    margin-left: 1vw;
    background-image: url(../images/logo/cycler_logo.svg);
}
.mendeleev_logo{
    margin-right: 1vw;
    background-image: url(../images/logo/mendeleev_logo.svg);
}
.photo-text{
    display: grid;
    grid-template-columns: 34vw 33vw 33vw;
    grid-template-rows: 20vh 65vh;
}
.photo{
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 1vw;
    margin-right: 1vw;
    background-image: url(../images/img/photo/my_photo.jpg);
}
.photo, .photo1-image, .photo2-image, .photo3-image, .photo4-image, .photo5-image, .photo6-image, .photo7-image, .photo8-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.name{
    background: white;
    grid-column-start: 2;
    grid-column-end: 4;
    color: black;
    font-family: "Calibri";
    font-size: calc((7vw + 7vh)/2);
    text-align: center;
    font-weight: 600;
    line-height: 20vh;
    border-radius: 50vw;
    margin: 1vh 0;
}
.about-me, .about-course{
    margin: 0 1vw;
    background: white;
    color: black;
    font-family: "Calibri";
    padding: 3vh 3vw;
    border-radius: 5vw;
}
.topic{
    font-size: calc((3vw + 3vh)/2);
    font-weight: 100;
    text-align: center;
    line-height: 3vh;
    margin-bottom: 1vh;
}
.just-text{
    font-size: calc((2vw + 2vh)/2);
    font-weight: 50;
    text-align: match-parent;
    line-height: calc((2vw + 2vh)/2);
    text-indent: calc((2vw + 2vh)/2);
}
.flex-block{
    background-color: white;
    justify-content: space-evenly;
    border-radius: 5vw;
    margin: 1vh 1vw;
}
.flex-block, .photo1, .photo2, .photo3, .photo4{
    display: flex;
}
.photo1, .photo2, .photo3, .photo4{
    flex-direction: column;
    flex-basis: 22vw;
}
.photo1-image, .photo2-image, .photo3-image, .photo4-image,.photo5-image, .photo6-image, .photo7-image, .photo8-image{
    margin: 1vh 1vw;
    flex-basis: calc((20vw + 20vh)/2);
    border-radius: 10vw;
}
.photo1-text, .photo2-text, .photo3-text, .photo4-text,.photo5-text, .photo6-text, .photo7-text, .photo8-text{
    flex-basis: calc((5vw + 5vh)/2);;
    font-family: Calibri;
    text-align: center;
    font-size: calc((3vw + 3vh)/2);
    line-height: calc((3vw + 3vh)/2);
}
.photo1-image{
    background-image: url(../images/img/block-photo/road.JPG);
}
.photo2-image{
    background-image: url(../images/img/block-photo/sunset.jpg);
}
.photo3-image{
    background-image: url(../images/img/block-photo/feather-grass.jpg);
}
.photo4-image{
    background-image: url(../images/img/block-photo/river.JPG);
}
.grid-block{
    background-color: white;
    display: grid;
    grid-template-columns:50vw 50vw;
    grid-template-rows: calc((25vw + 25vh)/2) calc((25vw + 25vh)/2);
    margin: 1vh 1vw;
}
.photo5, .photo6, .photo7, .photo8{
    display: grid;
    grid-template-columns:50vw;
    grid-template-rows: calc((20vw + 20vh)/2) calc((5vw + 5vh)/2);
}
.photo5-image{
    background-image: url(../images/img/block-photo/spruce.JPG);
}
.photo6-image{
    background-image: url(../images/img/block-photo/rowan.JPG);
}
.photo7-image{
    background-image: url(../images/img/block-photo/waxwing.JPG);
}
.photo8-image{
    background-image: url(../images/img/block-photo/larch.jpg);
}